---
layout: project
title: 3D Maze
---
include mixins
- setAllFiles({{ site.static_files | jsonify }});

br
+addTab('writeup', true)
  p.flow-text.
    I decided to experiment with creating a randomly generated 3D maze in unity by implementing Kruskal's algorithm on a gird with randomly assigned edge weights. I was thinking of perhaps using it in the future as a way to create random maps for a multiplayer FPS.
  +slideShow('/img/3d-maze-screenshots/')
+addLinkTab('game', '3d-maze-webgl/main')
+buildTabs()
