---
layout: project
title: Drawlaphone
---

p(class='flow-text') Once upon a time you probably played a game called 'Whisper Down the Lane' or 'Telephone.' The concept is simple. The players start with a phrase, player one whispers it to player two, player two whispers to player three and so on and so on until the message gets completely distorted. You also might have played 'Picture Telephone' which is similar but instead of whispering, the mechanism for distorting the message is converting it between text and crudely drawn pictures. Here's an example of how a typical game might progress.

div(class='video-container')
  iframe(
    width='853',
    height='480',
    src='https://www.youtube.com/embed/0_6zBlT8qUM?rel=0&amp;showinfo=0', frameborder='0',
    allowfullscreen
  )


