---
layout: project
title: Drawlaphone
---
include mixins
- setAllFiles({{ site.static_files | jsonify }});

p.flow-text.
  Once upon a time you probably played a game called 'Whisper Down the Lane' or 'Telephone.' The concept is simple. The players start with a phrase, player one whispers it to player two, player two whispers to player three and so on and so on until the message gets completely distorted. You also might have played 'Picture Telephone' which is similar but instead of whispering, the mechanism for distorting the message is converting it between text and crudely drawn pictures. Here's an example of how a typical game might progress.

+youtube('0_6zBlT8qUM')

p.flow-text.
  I decided to turn this game into a "Words With Friends" type application, using the Parse API as a back-end. To start playing with your friends you first create an account and then log on. Then you can host or join a game. Once a game has enough players the game begins and control alternates between people guessing with words and people guessing with pictures until the game is over. Then, all of the players who played that game can look at the monstrosities they've created.

+photos('/img/drawlaphone-example-game/')

p.flow-text.
  The most challenging part of this project was getting all of the different parts of the game to interact with each-other and organizing the flow of the game. Also trying to keep the number of API requests down.
