---
layout: project
title: GPS Alarm Clock
---
include mixins
- setAllFiles({{ site.static_files | jsonify }});

p.flow-text.
  When I was interning at SGP International I spent many days commuting in and out of the city by bus. I found myself asleep on the bus headed home and as a result missing my stop several times. I've heard of other people running into the same problem, so I decided to create a solution in the form of an android application. The way it works is pretty simple. Just type in your destination and how far away you want to be before being woken up.

+photos('/img/gps-alarm-clock/')

p.flow-text.
  One of the biggest problems I had was tweaking the application to use as little energy as possible as any application that uses GPS can get very expensive very quickly in terms of power consumption. I ended up dealing with this problem by setting the GPS to be less accurate the further away you are from your destination and progressively more accurate as you get closer.
