---
layout: default
---

header
  div.navbar-fixed
    nav.nav-wrapper
      ul.left
        li
          a(href='#back', onclick='history.back();')
            i.material-icons(style='font-size: 40px;') chevron_left

main
  div(class='container')
    h2 {{ page.title }}
    div {{ content }}
